/** ADD YOUR AWESOME CODES HERE **/
.container1 .card{
    position: relative;
    background-color: #f1f1f1;
}

.container1 .card .face{
    transition: 0.5s;
    display: block;
    justify-content: center;
    background-color: #f1f1f1;
}

.container1 .card .face.face1{
    position: relative;
    display: flex;
    z-index: 1;
    transform: translateY(20px);
}

.container1 .card:hover .face.face1{
    transform: translateY(0);
}

.container1 .card .face.face1 .content{
    opacity: 0.8;
    transition: 0.5s;
}

.container1 .card:hover .face.face1 .content{
    opacity: 1;
}

.container1 .card .face.face1 .content img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.container1 .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100%);
    opacity: 0;
}

.container1 .card:hover .face.face2{
    transform: translateY(0);
    opacity: 1;
}

.container1 .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    text-align: left;
}

.about-me li{
    margin-top: 10px;
}